<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <p>Enter New Passwword: <input type="password" name="newpass" id=""></p>
        <!-- <p>Re-Enter New Passwword: <input type="password" name="newpass1" id=""></p> -->
        <button type="submit">Confirm New Password</button>
    </form>
    {% if message %}
    <script>
        alert("{{message}}")
    </script>
    {% endif %}
</body>
</html>