{% extends 'NavigationBar.html' %}
{% block content %} 
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script> -->
    <title>Product Table</title>
    <style>
        .main{
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div>
            <table class="table table-dark mt-5">
                <tr>
                    <td rowspan="5"><img src="{{SingleProductdata.productimg.url}}" alt="" height="200px" width="200px"></td>
                    <tr><td>Name: {{SingleProductdata.productname}}</td></tr>
                    <tr><td>Category: {{SingleProductdata.productcategory}}</td></tr>
                    <tr><td>Price: {{SingleProductdata.price}}</td></tr>
                    <tr><td>Description: {{SingleProductdata.productdescription}}</td></tr>
                </tr>
            </table>
        </div>
    </div>
        <input type="text" name="quantity" id="" hidden>
        <div class="container" style="display: flex;">
            <p style="margin-bottom: 0px;">Select Quantity: </p> <select name="" id="qty">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </div>
        <div class="main">
            <form action="{% url 'BuyProduct' %}" method="post">
                {% csrf_token %}
                <input type="text" value="{{SingleProductdata.productid}}" name="proid" hidden>
                <input type="text" name="quantity1" id="qty1" hidden>
                <button class="p-2 m-4" type="submit">Buy Now</button>
            </form>
            <form action="{% url 'addtocart' %}" method="post">
                {% csrf_token %}
                <input type="text" value="{{SingleProductdata.productid}}" name="proid" hidden>
                <input type="text" name="quantity2" id="qty2" hidden>
                <button class="p-2 m-4" type="submit">Add To cart <img src="{% static '/images/cart.svg' %}" alt="" height="17px" width="17px"></button>
            </form>
        </div>
    <script async>
        document.getElementById('qty').addEventListener("click",()=>{
            x=document.getElementById('qty').value[0]
            document.getElementById('qty1').setAttribute("value",x)
            document.getElementById('qty2').setAttribute("value",x)
        })
    </script>
</body>
</html>
{% endblock %}