{% extends 'NavigationBar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Table</title>
    <style>
        .main{
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="main">
        <table>
            <tr>
                <td rowspan="5"><img src="{{SingleProductdata.productimg.url}}" alt="" height="200px" width="200px"></td>
                <tr><td>Name: {{SingleProductdata.productname}}</td></tr>
                <tr><td>Category: {{SingleProductdata.productcategory}}</td></tr>
                <tr><td>Price: {{SingleProductdata.price}}</td></tr>
                <tr><td>Description: {{SingleProductdata.productdescription}}</td></tr>
            </tr>
        </table>
        <form action="{% url 'BuyProduct' %}" method="post">
            <button type="submit">Buy Now</button>
        </form>
    </div>
</body>
</html>