{% extends 'NavigationBar.html' %} {% load static %} {% block content %}
<table border="2px">
  <tr>
    <th>Product Name</th>
    <th>Product Category</th>
    <th>Product Image</th>
    <th>Price</th>
    <th>Product Description</th>
  </tr>
  {% for i in data %}
  <tr>
    <td>{{i.productname}}</td>
    <td>{{i.productcategory}}</td>
    <td>
      <img src="{{i.productimg.url}}" alt="" height="100px" width="100px" />
    </td>
    <td>{{i.price}}</td>
    <td>{{i.productdescription}}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
