{% extends 'NavigationBar.html' %} {% block content %}
<div class="container" style="display: flex;">
  {% for i in data %}
  <div class="m-5" style="width: 200px; height: 200px;">
    <div class="row py-3 py-md-0">
      <div class="card row" style="background-color: rgb(195, 194, 194);">
        <a href="{% url 'productget' i.productid %}" style="text-decoration: none">
          <img src="{{i.productimg.url}}" alt="" height="100px" width="100px" style="align-self: center;"/>
          <div class="card-body">
            <h6 class="text-center" style="color: black;">{{i.productname}}</h6>
            <div class="star text-center">
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
